{% extends 'DgServerBundle::layout.html.twig' %}

{% block main -%}
    <h1>{{ entityName }} creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('dawan_entityaccess_postrouteur_index',  {'entity' : entityName }) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
