{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calendrier</h1>

    <ul class="record_actions">
        <li>
            <a href="{{ path('calendrier') }}">
                Back to the list
            </a>
        </li>
    </ul>

    <div id="calendar">
    </div>



    <script>

        var slug = window.location.href.split("/").pop();

        $( document ).ready(function() {
            function getData(callback) {
                $.getJSON({{ entity.id }}+"/json", function (data) {
                    callback(data);
                });
            }

             getData(function(results){
                 data = [
                     {
                         "title": "Garde",
                         "start": "2016-03-01"
                     },
                     {
                         "title": "Astreinte",
                         "start": "2016-03-03"
                     }
                 ];
                 results = JSON.parse(results);

                 $('#calendar').fullCalendar({
                     events: results
                 });

                 $('.fc-event').not(".valide").append("<span class='delete_button'>X</span>");
                 $(".valide").append("<span class='valide'>✔</span>");



                 $("span.delete_button").bind("click", function () {
                     parent = $(this).parent();
                     id = parent.attr("class").split(/\s+/).pop().split("-").pop();

                     console.log(id);

                     swal({
                         title: "Suppression d'un évenement",
                         text: "Voulez vous vraiment supprimer cet évenement ?",
                         type: "warning",
                         showCancelButton: true,
                         cancelButtonText: "Annuler",
                         closeOnConfirm: false,
                         confirmButtonText: "Confirmer la suppression",
                         showLoaderOnConfirm: true,
                     }, function(){

                         $.ajax({
                             url: "/calendrier/delete",
                             method: "POST",
                             data: {id: id},
                             context: document.body
                         }).done(function() {
                             parent.css("display", "none");
                             swal("Évenement supprimé avec succès!","","success");
                         })
                         .fail(function() {
                             swal("Une erreur survenue!","Veuillez réessayer dans quelques instants","error");
                         });
                     });
                 });



             });



        });

    </script>
{% endblock %}
