{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calendrier</h1>

    <div id="calendar">
    </div>


    <ul class="record_actions">
        <li>
            <a href="{{ path('calendrier') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('calendrier_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <script>

        var slug = window.location.href.split("/").pop();

        $( document ).ready(function() {
            function getData(callback) {
                $.getJSON("ando-antoine/json", function (data) {
                    callback(data);
                });
            }

             getData(function(results){
                 data = [
                     {
                         "title": "Garde",
                         "start": "2016-03-01"
                     },
                     {
                         "title": "Astreinte",
                         "start": "2016-03-03"
                     }
                 ];
                 results = JSON.parse(results);
                 $('#calendar').fullCalendar({
                     events: results
                 });
            });


            $(".valide").append("OK");

        });

    </script>
{% endblock %}
