{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calendrier</h1>

    <div id="calendar">

    </div>


    <ul class="record_actions">
        <li>
            <a href="{{ path('calendrier') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('calendrier_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    <script>
        /*
        var slug = window.location.href.split("/").pop();

        $( document ).ready(function() {
            function getData(callback) {
                $.getJSON("ando-antoine/json", function (data) {
                    callback(data);
                });
            }

             getData(function(results){
                 data = [
                     {
                         "title": "Garde",
                         "start": "2016-03-01"
                     },
                     {
                         "title": "Astreinte",
                         "start": "2016-03-03"
                     }
                 ];
                 results = JSON.parse(results);
                 $('#calendar').fullCalendar({
                     events: results,
                     dayClick: function(date, jsEvent, view) {

                     //    alert('Clicked on: ' + date.format());

                     //    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

                     //    alert('Current view: ' + view.name);

                         // change the day's background color just for fun
                         $(this).css('background-color', 'red');

                     },
                     eventClick: function(event, element) {
                         console.log(element);
                         if($.inArray("valide", element.target.parentElement.classList))
                         {

                             $(element.target).append("<div class='truc'><ul><li>GARDE</li><li>ASTREINTE</li></ul></div>");



                         }

                     }
                 });
            });

        });

            $('.valide').click(function (e) {
                e.stopPropagation();
            });




        /*
         $.ajax({
         url: "ando-antoine/json",
         method: "POST",
         dataType: "json",
         cache: false,
         success: function(data){
         console.log(data);
         console.log("ok");
         },
         error:function(){
         console.log("RAH");
         }
         });*/
    </script>
{% endblock %}
